$mainGreen: #738678; //xanadu
$darkGreen: #4d5d53; //nandor
$lightGreen: #8f9779; //Battleship Gray

//https://www.color-hex.com/color-palette/1398

//other colors: (green)#718672 (raven)#717a86 (fedora)#867185 (lightgrey)
// #9999999 (boulder)#7b7b7b (storm gray)#727186